################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookExchangeApi/.vs
/.vs
/BookExchangeApi/BookExchangeApi/obj
